#footer
  .container.text-center
    div
      strong Real Time Planning Poker
      |  Project
      |  ·
      | Created by
      a(href='http://davidbocle.com/')  David Bocle
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/bcldvd/real-time-planning-poker') GitHub Project
      |  ·
      a(href='https://github.com/bcldvd/real-time-planning-poker/issues')  Issues
