extends layout

block content
  h1 Real Time Planning Poker
  p.lead
    | Planning Poker is a way to estimate a relative effort for a given task.
    br
    | This implementation was build upon new technologies such as NodeJS, Socket.IO...